/* --------------------------------------------------    
 * jQuery Twitter Fetcher
-----------------------------------------------------*/

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { 
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	padding: 0;
	margin: 0;
}

#header {
	width: 100%;
	background: #35302f;
}

h1, h3 {
	color: #d6d3d0;
	font-weight: normal;
	display: block;
	margin: 0 auto;
	width: 400px;
}

h1 {
	font-size: 36px;
	padding: 18px 0 6px;
}

h3 {
	font-size: 84%;
	padding: 0 0 14px;
}


