/* --------------------------------------------------    
 * jQuery Twitter Fetcher
-----------------------------------------------------*/

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body { 
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	padding: 0;
	margin: 0;
}

#header {
	width: 100%;
	background: #35302f;
}

h1, h3 {
	color: #d6d3d0;
	display: block;
	margin: 0 auto;
	width: 400px;
}

h1 {
	font-size: 36px;
	padding: 18px 0 6px;
}

h3 {
	font-size: 84%;
	padding: 0 0 8px;
}

#tweets_holder {
	top: -2px;
	position: relative;
	width: auto;
	width: 440px;
	margin: 0 auto;
	box-shadow: 0 2px 4px #35302f;
}

ul {
	list-style-type: none;
	margin: 0 20px;
	padding: 8px 0;
	width: 400px; 
}

li {
	border-bottom: 1px solid #d6d3d0;
	padding: 8px 0 14px;
}

ul li img {
	float: left;
	margin-right: 18px;
}

ul li p {
	font-size: 72%;
	margin: 4px;
}

span.tweet-date {
	font-size: 62%;
	float: right;
}
